html, body {
	margin: 0;
}

#container {
	background: #f2f2f2;
	max-width: 100%;
	overflow-x: hidden;
}

#competition {
	padding: 5% 200px 2% 200px;
	min-height: 75%;
	position: relative;
}

#competition .primary {
	position: relative;
	z-index: 2;
	color: #555	;
	font-family: "Montserrat";
	max-width: 1080px;
	padding: 50px 100px;
}

#competition .primary img {
	max-height: 100px;
	display: block;
	background: rgba(25, 41, 81, 0.8);
	padding: 10px 100vw 10px 100vw;
	margin-left: -100vw;
}

#competition .primary h1, #competition .primary h2 {
	font-variant: small-caps;
	font-weight: normal;
}

#competition h1 {
	font-size: 3rem;
	margin-bottom: 0;
}

#competition a {
	color: #111;
}

#competition p {
	font-size: 1.1rem;
	line-height: 40px;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#competition .secondary div {
	padding: 15px;
	background: rgba(0, 0, 0, 0.8);
	text-decoration: none;
	color: white;
	transition: 0.2s;
	margin-top: 10px;
	display: inline-block;
}

#competition .secondary div:hover {
	background: rgba(0, 0, 0, 0.5);
}













