html, body {
	margin: 0;
	font-family: "Montserrat";
}

#loading_container {
	position: fixed;
	height: 100%;
	width: 100%;
	background: white;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #555;
	transition: 0.5s;
}

#loading {
	position: relative;
	padding: 0 15px;
}

#loading::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
	width: 100%;
	border-left: 10px solid #000;
	animation: bounce 1s infinite linear;
}

@keyframes bounce {
	0% {transform: translateX(0);}
	50% {transform: translateX(100%);}
	100% {transform: translateX(0);}
}

#container {
	background: #f2f2f2;
	max-width: 100%;
	overflow-x: hidden;
	display: none;
	opacity: 0;
	transition: 0.7s;
}

#container .box {
	padding: 0 200px;
	min-height: 100%;
	position: relative;
}

#fb {
	height: 25px;
	width: 25px;
	margin-bottom: -2px;
	display: inline;
}

#competition h2 {
	display: inline;
}

#competition h1 {
	padding-bottom: 10px;
}

.primary {
	z-index: 2;
	color: #555	;
	max-width: 1080px;
	padding: 80px 100px;
}

#competition .primary {
	position: relative;
}

#competition .primary #fuse_logo {
	max-height: 100px;
	display: block;
	background: rgba(25, 41, 81, 0.8);
	padding: 10px 100vw;
	margin-left: -100vw;
	transition: 0.2s;
}

#competition .primary #fuse_logo:hover {
	background: rgba(25, 41, 81, 0.7);
}

.primary h1, .primary h2 {
	font-variant: small-caps;
	font-weight: normal;
}

#competition h1 {
	font-size: 3rem;
	margin-bottom: 0;
}

.primary a {
	color: #111;
}

.primary p {
	font-size: 1.1rem;
	line-height: 40px;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.box .secondary div {
	padding: 15px;
	background: rgba(0, 0, 0, 0.8);
	text-decoration: none;
	color: white;
	transition: 0.2s;
	margin-top: 10px;
	display: inline-block;
}

.box .secondary div:hover {
	background: rgba(0, 0, 0, 0.5);
}

.scroll {
	position: absolute;
	bottom: 0;
	transition: 0.1s;
}

.scroll span {
	display: inline-block;
	animation: point 1s infinite linear;
	margin-bottom: 20px;
}

@keyframes point {
	0% {transform: translateY(-5px);}
	50% {transform: translateY(0px);}
	100% {transform: translateY(7px);}
}

#sfu {
	background: url(images/sfu.jpg);
	background-attachment: fixed;
	background-size: cover;
}

#sfu h1 {
	margin: 0;
	font-size: 2.5rem;
	background: rgba(167, 43, 46, 0.7);
	color: white;
	padding: 5px 100vw;
	margin-left: -100vw;
	width: 100%;
}

#sfu .primary {
	padding: 20px 300px 30px 300px;
	position: absolute;
	z-index: 3;
	background: #f2f2f2;
	margin: 150px -200px;
}

#sfu .primary p {
	max-width: 600px;
	float: left;
}

#sfu .logo {
	max-height: 250px;
	margin-top: 10px;
	display: block;
	float: right;
	margin-right: 50px;
}

#lunch {
	background: #e5e5e5;
}

#lunch h1 {
	color: #222;
	margin-left: 50px;
}

#lunch .primary {
	padding: 100px 0 100px 0;
	position: absolute;
	width: 60%;
	right: 0;
}

#lunch .primary p {
	margin: 0 300px 0 50px;
}

#lunch .image_wrapper {
	height: 100%;
	width: 40%;
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
	z-index: 0;
}

#lunch .main_image {
	display: block;
	size: cover;
	height: 100%;
}

#lunch .secondary {
	margin-left: 50px;
}

#sponsors {
	background: #fff;
	position: absolute;
	width: 100%;
	margin: 0 -150px;
}

#sponsor_logos {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

#sponsors img {
	max-height: 150px;
	max-width: 350px;
	margin: 20px;
}

#sponsors .primary {
	padding-top: 30px;
}

footer {
	padding: 80px;
	text-align: center;
	background: #203864;
	color: white;
}

@media screen and (max-width: 1080px) {
	#container .box {
		padding: 0 10px;
	}

	.primary {
		padding: 0 10px 90px 10px;
	}

	.primary p {
		line-height: 30px;
	}

	#sfu h1 {
		margin: 0;
		font-size: 2rem;
		padding: 5px 20px;
	}

	#sfu .primary {
		padding: 10px 0;
		margin: 100px -10px;
	}

	#sfu .primary p {
		margin: 40px 20px;
	}

	#sfu .logo {
		max-height: 250px;
		float: left;
		margin-left: 20px;
	}

	#lunch h1 {
		margin-left: 15px;
	}

	#lunch .primary {
		width: 80%;
	}

	#lunch .primary p {
		margin: 0 15px;
	}

	#lunch .image_wrapper {
		width: 20%;
	}

	#lunch .secondary {
		margin-left: 15px;
	}

	#sponsors {
		margin: 0;
	}

	#sponsors img {
		max-height: 100px;
		max-width: 200px;
		margin: 10px;
	}

	footer {
		padding: 30px;
	}
}












